server {
    listen 80;
    server_name enter-site-name-here-as-in-hosts;
    client_max_body_size 300M;
    location / {
        proxy_pass http://host.docker.internal:enter-port-here-as-in-docker-compose-of-your-project;
    }
}
